<!DOCTYPE html>
<html>
<head>
  <title>Basico Github Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- CHARTIST -->
   <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
   <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>
<body>

  <div class='ui container' id='dashboard'>

    <h1 class='ui dividing header'>Basico Github Dashboard</h1>

    <% if @error.present? %>
      <div class="ui icon red message">
        <i class="notched icon remove cicle"></i>
        <div class="content">
          <div class="header">
            Ops, um erro!
          </div>
          <p><%= @error.message %></p>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield :pos_js %>

</body>
</html>
